/*total width and height of elements are included*/
* {
    box-sizing: border-box;
}

/* Prevents the page from jumping on scroll and creates a smooth transition */
html {
    scroll-behavior: smooth;
}

/* Setting the brand font for all text on the page */
h1,
h2,
h3,
h4,
label,
select,
input,
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Customising h1, h2, h3 size and colour*/
h1 {
    font-size: 4vw;
    color: #76689a;
}

h2 {
    font-size: 3vw;
    color: #dd7d30;
}

h3 {
    color: #76689a;
}

/* . indicates reference to class in html code, this particular one specifies page-header class */
.page-header {
    display: grid; /* Sets up grid layout for section */
    grid-template-areas: 'title hero'
        'booking hero'; /* References each section of page by custom grid-area and specifies positioning in rows and columns */
    grid-template-columns: 50vw; /* Specifies size of column in responsive format */
    grid-template-rows: 30vh 70vh; /* Specifies varying row sizes */
    width: 100%;
}

.title {
    grid-area: title; /* Grid area name for reference in grid-template-areas */
}

.logo {
    max-height: 100%;
    max-width: 40%;
    display: inline-block; /* Allows the logo to display next to another section in a line */
}

.page-title {
    display: inline-block;
    line-height: 150%; /* Specifies the height and spacing between text based on font size */
    vertical-align: top; /* Positions the element to the top of parent */
    margin-top: 5vh; /* Space above element in responsive format */
    max-width: 60%;
}

.hero-container {
    grid-area: hero;
    margin: auto; /* Centers element in parent */
}

.hero-image {
    width: 100%;
}

.booking-form {
    grid-area: booking;
    padding: 5%;
    display: flex; /* Sets flex layout for section */
    flex-wrap: wrap; /* Any elements that dont fit on line move to next line */
    margin: auto 5%;
    border-radius: 20px; /* Rounded corners */
    background-color: lightgray;
}

/* Sets styling for each form element div */
.form-elements {
    flex: 45%; /* Sets percentage width of flex parent */
    margin: 10px;
}

.booking-items {
    border: 2px solid #76689a;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
}

label {
    display: block;
    color: #76689a;
}

/* Styling for form text */
input,
label,
select,
.submit-button {
    font-size: 1.25em; /* Responsive font size */
    width: 100%;
}

/* Styling for Submit button - colour, rounded corners, size */
.submit-button {
    background-color: #dd7d30;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    display: block; /* Takes up whole line */
}

/* Positions custom icon for checkin and checkout */
#checkin::-webkit-calendar-picker-indicator,
#checkout::-webkit-calendar-picker-indicator {
    background-repeat: no-repeat;
}

/* Sets checkin icon */
#checkin::-webkit-calendar-picker-indicator {
    background-image: url("../images/checkin.png");
}

/* Sets checkout icon */
#checkout::-webkit-calendar-picker-indicator {
    background-image: url('../images/checkout.png');
}

/* Navbar Styling */
.navbar {
    position: relative;
    height: 90px;
    width: 100%;
    background-color: white;
    z-index: 1; /* Positions element layer above others */
}

/* Styling for navbar once it becomes sticky to top */
.fixed {
    position: fixed;
    top: 0;
}

.nav-item {
    float: left;
    text-align: center;
    padding: 3.5vh 1.95vw; /* Sets spacing around each link */
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

/* Initial display in larger screen = no hamburger */
.hamburger {
    display: none;
}

/* Styling for when a user hovers over element or it has been clicked */
.nav-item:hover,
.nav-item:active {
    color: #76689a;
}

.nav-image {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    float: left;
}

/* About Section Styling */
.about {
    margin-top: 0;
    background-image: url("../images/aboutback.png"); /* Sets background image to display under elements */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: center;
    height: fit-content; /* sets size of section based on content */
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: 'abouttitle abouttext' 'aboutimage abouttext';
}

.about-title {
    grid-area: abouttitle;
    align-self: flex-end; /* vertical aligns to end of section vertically */
    justify-self: center; /* horizontal aligns to middle of section */
}

.title-cont {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}

.about-image {
    max-height: 100%;
    max-width: 90%;
    grid-area: aboutimage;
    justify-self: flex-end;
}

.about-text {
    grid-area: abouttext;
    width: 60%;
    padding: 3%;
    font-size: 2vw;
    align-self: center;
    margin-top: 15vh;
    justify-self: left;
    margin-left: 5vw;
}

/* Gallery Styling */
.gallery {
    background-color: #e8e8e8;
    height: fit-content;
    margin: auto;
    padding: 5vh 10vw;
    margin-top: 5vh;
}

.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* adds even spacing between elements */
    z-index: -1; /* Positions element under other elements on z-index */
}

#gallery-title {
    background-color: white;
    color: #dd7d30;
    border: 3px solid #dd7d30;
    margin-bottom: -8vh; /* Negative margin overlaps element into section below */
    position: relative; /* Relative positioning places element to where it normally appears */
}

.image-container {
    flex: calc(31% - 20px); /* Flex calc calculates the position of the element so it takes up 31% of the screen taking into account 20px margin */
    margin-bottom: 20px;
    height: auto; /* Auto height based on the width of elements and is responsive */
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Cover ensures that the entire section is covered by image even when resized */
    padding: 10px 10px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

#prevPage,
#nextPage {
    background-color: #dd7d30;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer; /* Changes mouse on hover to indicate an action element */
}

#prevPage {
    order: 1; /* Ensures this sits in first position */ 
    display: none;
}

#nextPage {
    order: 2; /* Ensures this sits in section position or to the right of elements */
}

/* Activities Section Styling */
.activities-section {
    background-image: url("../images/activitiesback.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 90vh;
    width: 80vw;
    margin: auto;
}

#activities-title {
    margin-top: 10vh;
}

.activities-container {
    display: flex;
    height: fit-content;
}

.activity-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adds shadowing around element to emphasize enclosure of elements */
    transition: 0.3s; /* Time it takes to transition between changes to elements */
    border-radius: 10px;
    background-color: white;
    height: 100%;
    flex: 30%;
    margin: 2%;
}

.activity-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Animation on hover through shadowing */
}

.activity-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

.activity-text {
    padding: 5px 20px;
}

/* Styling for Contact Section */
.contact-section {
    background-color: #76689a;
    padding: 5vh 10vw;
    max-height: 90vh;
}

.contact-form-container {
    max-width: 100%;
    margin: auto;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr; /* Refers to how many units each column takes up 1 = whole unit */
    grid-gap: 10px; /* Spacing between elements */
}

.form-section {
    display: grid;
    grid-template-columns: 1fr;
}

#message {
    height: 30vh;
}

.contact-label {
    color: white;
    padding-bottom: 10px;
}

.contact-form-container>h2 {
    color: white;
}

/* Media Queries for Tablet */
@media only screen and (max-width: 1024px) {
    .page-header {
        grid-template-areas: 'title title' 'booking hero'; /* Changes to layout based on areas */
        grid-template-columns: 55vw 45vw;
        grid-template-rows: 30vh;
    }

    .hero-image {
        max-height: 60vh;
    }

    .booking-form {
        margin: 20px;
    }
}

/* Media Queries for Mobile */
@media only screen and (max-width: 530px) {
    /* Change in font sizing for better visibility on smaller screens */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    label,
    select,
    input,
    h3,
    h4 {
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    .page-header {
        grid-template-areas: 'title' 'hero' 'booking';
        grid-template-columns: 90vw;
        grid-template-rows: auto;
    }

    .logo {
        width: 40%;
    }

    .form-elements {
        flex: 100%;
    }

    /* Change in height to more responsive sizing */
    .navbar {
        height: 10vh;
        width: 100%;
        padding-right: 25px;
    }

    /* Show Hamburger Menu on Smaller Screens and Hide Nav Items */
    .hamburger {
        float: right;
        text-align: center;
        padding: 2.5vh 2vw;
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vh;
        display: block;
    }

    .nav-items {
        display: none;
    }

    /* Format Menu Items So They Display as a Drop-Down */
    .nav-items.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: white;
        border: 1px solid #ddd;
    }

    .about {
        background-image: url("../images/aboutback2.png"); /* Change to background image more suitable to mobile layout */
        grid-template-columns: 25vw;
        grid-template-rows: 20vh 30vh 50vh;
        width: 100%;
        height: 90vh;
        bottom: 0;
    }

    .about-title {
        grid-column: 1 /span 3; /* Instead of relying on grid-template-areas this has changed to refer to column 1 spanning 3 columns */
        grid-row: 1;
    }

    .about-text {
        grid-row: 2;
        grid-column: 2 / span 3;
        width: 90%;
        margin-top: 0;
        margin-left: 0;
        background-color: white;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .about-image {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .image-container {
        flex: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .gallery-container {
        justify-content: center;
    }

    .activities-container {
        display: flex;
        overflow-x: auto; /* Displays one element on screen with overflow scrolled to */
        scroll-snap-type: x mandatory; /* Snaps scrolling to each element so it doesn't sit halfway between elements */
        width: 80%;
        margin: auto;
        scrollbar-color: #76689a #ccc;
        scrollbar-width: thin;
    }

    /* Styling for scroll bar to allow for prominence and usability */
    .activities-container::-webkit-scrollbar {
        width: 12px;
    }

    .activities-container::-webkit-scrollbar-thumb {
        background-color: #76689a;
        border-radius: 10px;
    }

    .activities-container::-webkit-scrollbar-track {
        background-color: #ccc;
        border-radius: 10px;
    }

    .activity-card {
        flex: 0 0 100%;
        margin: 2%;
        scroll-snap-align: start; /* Aligns to the start of scroll snap point */
    }
}